@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
  font-family: Inter;
  font-size: 100 900;  
  src: url("../assets/fonts/inter.woff2") format("woff2");
  font-display: swap;
}

@font-face {
 font-family:Array;
 font-size: 100 900;  
 src:url("../assets/fonts/array.woff2") format("woff2");
 font-display: swap;
}

@font-face{
  font-family: Display;
  font-size:100 900;
  src:url("../assets/fonts/display.woff2") format("woff2");
  font-display: swap;
}

@theme{
  --color-primary:#6d9a7b;
  --color-secondary:#2e2e2e;
  --color-tertiary:#faf4ed;
  --color-quaternary:#f76f53;
  --color-opacity:#6e6e6e;
  --color-clainev:#3EC988;
  --radius-lg:0.75rem;
  --normal-cursor:url('/normal.cur'),auto;
  --pointer-cursor:url("/pointer.cur"),pointer;
  --font-array:Array;
  --font-sans:Inter, system-ui, sans-serif;
  --font-display:Display;
}

