@import "tailwindcss";

@font-face {
  font-family: Nanum;
  font-size: 100 900;  
  src: url("../assets/fonts/nanum.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-size: 100 900;  
  src: url("../assets/fonts/inter.ttf") format("truetype");
}

@font-face {
 font-family:Array;
 font-size: 100 900;  
 src:url("../assets/fonts/array.woff2") format("woff2");
 font-display: swap;
}

@theme{
  --font-nanum: "Nanum",sans-serif;
  --font-array: "Array",sans-serif;
  --font-inter: "Inter",sans-serif;
  --color-primary:#FFFDF6;
  --color-secondary:#FAF6E9;
  --color-tertiary:#99BC85;
  --color-accent:#A67B5B;
  --color-clainev:#3EC988;
  --color-title:#1A120B;
  --color-subtitle:#493628;
}


