---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../sections/Hero.astro";
import Works from "../../sections/Works.astro";
import Services from "../../sections/Services.astro";
import Faqs from "../../sections/Faqs.astro";
import Contacts from "../../sections/Contacts.astro";
import Products from "../../sections/Products.astro";
---

<Layout
  title="Build a Fast, Custom Website with mblcdev | Web Dev Experts"
  description="Need a fast, modern website? We build clean, high-performance sites with custom features, SEO, and responsive design."
>
  <Hero />
  <main class="w-full md:w-[70%] mx-auto text-secondary">
    <!-- Works -->
    <Works />
    <!-- Products -->
    <Products />
    <!-- Services -->
    <Services />
    <!-- Faq -->
    <Faqs />
    <!-- Contact -->
    <Contacts />
  </main>
</Layout>
