---
import Contact from "../../sections/Contact.astro";
import Faq from "../../sections/Faq.astro";
import Hero from "../../sections/Hero.astro";
import Services from "../../sections/Services.astro";
import Works from "../../sections/Works.astro";
import SectionHeader from "../../components/ui/SectionHeader.astro";
import Layout from "../../layouts/Layout.astro";
import Products from "../../sections/Products.astro";
import { getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const faq = await import(`../../data/faq.${lang}.json`);
const services = await import(`../../data/service.${lang}.json`);
---

<Layout title="Custom web development | Mblcdev">
  <Hero />

  <section class="container mx-auto px-4">
    <SectionHeader title="Latest Works">
      <span
        class="absolute top-5 left-[60%] rotate-6 font-nanum text-2xl font-medium text-tertiary"
      >
        Year {new Date().getFullYear()}
      </span>
    </SectionHeader>
    <div class="space-y-20">
      <Works
        title="Mad Exhibitions"
        area="Art & Music"
        time="1 week"
        views="280"
        desktop="/madexhibition-desktop.png"
      />
      <Works
        title="Mad Royer"
        area="Art"
        time="1 week"
        views="1k"
        desktop="/madroyer-desktop.png"
      />
    </div>
  </section>
  <section class="px-4 mt-20">
    <SectionHeader title="Products">
      <span
        class="absolute top-5 left-[60%] rotate-6 font-nanum text-2xl font-medium text-tertiary"
      >
        Increase
      </span>
    </SectionHeader>
    <Products />
  </section>
  <section class="px-4 mt-20 scroll-my-24" id="services">
    <SectionHeader title="Services">
      <span
        class="absolute top-5 left-[60%] rotate-6 font-nanum text-2xl font-medium text-tertiary"
      >
        let's fucking go
      </span>
    </SectionHeader>
    <Services item={services.default} />
  </section>
  <section class="container mx-auto px-4 mt-20">
    <SectionHeader title="Faq">
      <span
        class="absolute top-5 left-[60%] rotate-6 font-nanum text-2xl font-medium text-tertiary"
      >
        How we work
      </span>
    </SectionHeader>
    <Faq item={faq.default} />
  </section>
  <section class="container mx-auto px-4 mt-20">
    <SectionHeader title="Let's work together">
      <span
        class="absolute top-5 left-[60%] rotate-6 font-nanum text-2xl font-medium text-tertiary"
      >
        Contact now
      </span>
    </SectionHeader>
    <Contact />
  </section>
</Layout>
