---
import { Mail } from "@lucide/astro";
---

<div class="flex flex-col justify-center items-center gap-10">
  <p class="text-lg font-inter text-center">
    Empieza ahora con tu crecimiento digital con nosotros has crecer tu marca y
    llega al siguiente nivel.
  </p>
  <div class="flex justify-center items-center flex-col gap-2">
    <button
      class="relative flex justify-center items-center gap-1 overflow-hidden bg-black text-white font-bold rounded-full shadow-xl px-4 py-3 hover:scale-105 transition-transform duration-300 ease-in-out cursor-pointer"
      id="contact"
    >
      <div
        class="absolute inset-0 blur-md bg-white rounded-full h-4 scale-110 z-0"
      >
      </div>
      <Mail class="" />
      antonio@mblcdev.com
    </button>
    <div class="h-5">
      <p class="text-sm font-inter hidden" id="message">
        ✨Copiado al portapapeles.✨
      </p>
    </div>
  </div>
</div>

<script>
  const btncontact = document.querySelector("#contact");
  const message = document.querySelector("#message");
  btncontact?.addEventListener("click", () => {
    navigator.clipboard.writeText(btncontact.textContent!);
    message?.classList.remove("hidden");
    setTimeout(() => {
      console.log("change");
      message?.classList.add("hidden");
    }, 2000);
  });
</script>
