---
import Box from "../ui/Box.astro";
---

<section>
  <h2 class="text-5xl text-center font-bold font-array uppercase mt-12 mb-10">
    Calidad, Estilo y Elegancia
  </h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 grid-rows-4 gap-7 container mx-auto px-4"
  >
    <Box
      title="Calidad"
      text="Usamos tecnologías modernas y buenas prácticas para asegurar que cada proyecto sea robusto, escalable y confiable desde el primer día."
      className="md:col-span-auto lg:col-span-2 row-span-2"
      image="/calidad.png"
    />
    <Box
      title="Estilo"
      text="Diseñamos experiencias visuales únicas que se alinean con tu marca y transmiten profesionalismo en cada detalle."
      className="md:col-span-auto lg:col-span-1 row-span-2"
      image="/web.webp"
    />
    <Box
      title="Elegancia"
      text="Nos enfocamos en interfaces limpias y ordenadas, con una navegación fluida y estética refinada para destacar tu propuesta digital."
      className="md:col-span-auto lg:col-span-1 row-span-2"
      image="/web.webp"
    />
  </div>
</section>
