---
import { LayoutTemplate, Settings, ShoppingBag, Shield } from "@lucide/astro";
import Box from "../ui/Box.astro";

const { item } = Astro.props;

const iconMap = {
  LayoutTemplate,
  Settings,
  ShoppingBag,
  Shield,
};
---

<div>
  <div class="grid grid-cols-2 gap-3">
    {
      item?.map((service: any) => {
        const Icon = iconMap[service.icon as keyof typeof iconMap];

        return (
          <Box title={service.title} text={service.description}>
            <div
              slot="icon"
              class="bg-secondary border border-black/20 inline-block p-3 rounded-full shadow-lg"
            >
              <Icon class="text-primary size-8" />
            </div>
          </Box>
        );
      })
    }
  </div>
</div>
