---
import Box from "../ui/Box.astro";
const { item } = Astro.props;
console.log(item);
---

<div>
  <div
    class="grid grid-cols-2 border border-black/10 container mx-auto shadow-md overflow-hidden"
  >
    {
      item?.map((service: any) => (
        <Box title={service.title} text={service.description} />
      ))
    }
  </div>
</div>
