---
import Layout from "../../../layouts/Layout.astro";
import {
  Clock3,
  TrendingUp,
  Package,
  Layers,
  Users,
  BadgeCheck,
} from "@lucide/astro";

const data = [
  {
    title: "Time Efficiency",
    text: "Reduce time spent on inventory management by up to 75% with automated tracking abd alerts.",
    icon: Clock3,
  },
  {
    title: "Increased Accuracy",
    text: "Minimize human error and maintain 99.9% accuracy in stock counts and order fulfillment.",
    icon: TrendingUp,
  },
  {
    title: "Stock Optimization",
    text: "Prevent overstocking and stockouts with intelligent inventory forecasting and analytics.",
    icon: Package,
  },
  {
    title: "Centralized Management",
    text: "Manage multiple locations, warehouses, and stores from a single unified dashboard.",
    icon: Layers,
  },
  {
    title: "Team Collaboration",
    text: "Enable seamless communication between departments with role-based access and notifications.",
    icon: Users,
  },
  {
    title: "Compliance Ready",
    text: "Stray audit-ready with comprehensive inventory records and automated compliance reporting.",
    icon: BadgeCheck,
  },
];
---

<Layout title="MB Inventory | Inventory Management System for Businesses">
  <main class="mt-40 w-full md:w-[70%] px-4 mx-auto">
    <section class="flex justify-center flex-col items-center">
      <div class="flex justify-center items-center gap-5 flex-col mb-10">
        <h1
          class="tracking-wide font-display text-5xl md:text-7xl lg:text-9xl text-center text-balance antialiased"
        >
          MB <span class="text-primary">INVENTORY</span>
        </h1>
        <p class="max-w-xl text-center text-base font-medium antialiased">
          Comprehensive inventory management system designed to optimize,
          automate and transform stock control in businesses of any size.
        </p>
        <div class="flex gap-5">
          <a
            href="#"
            class="bg-quaternary text-tertiary px-8 py-4 rounded-lg shadow-lg font-medium hover:scale-[1.02] active:scale-[0.98] transition-transform duration-150 antialiased"
            >Get Started Now</a
          >
          <a
            href="#"
            class="bg-secondary text-tertiary px-8 py-4 rounded-lg shadow-lg font-medium hover:scale-[1.02] active:scale-[0.98] transition-transform duration-150 antialiased"
            >Watch Demo</a
          >
        </div>
      </div>
      <div>
        <img
          src="/prod.webp"
          alt="inventory"
          loading="lazy"
          draggable="false"
          class="mix-blend-multiply border border-secondary/10 rounded-lg shadow-lg"
        />
      </div>
    </section>
    <section class="mt-20 px-4">
      <div>
        <h2 class="font-display text-5xl font-bold uppercase text-center">
          Key Advantages
        </h2>
        <p class="text-center text-base font-medium mt-5">
          Our inventory management system provides powerful capabilities that
          transform how businesses manage their stock.
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
        {
          data.map(({ title, text, icon: Icon }) => {
            return (
              <div class="flex flex-col gap-2 border border-primary/20 p-2 rounded-lg">
                <Icon class="size-10 text-quaternary" />
                <h3 class="text-xl font-bold">{title}</h3>
                <p class="text-base font-medium text-secondary/80">{text}</p>
              </div>
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
