---
import Layout from "../layouts/Layout.astro";
import SectionCard from "../components/ui/cards/SectionCard.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
---

<Layout>
  <Hero />
  <section class="container mx-auto px-4">
    <div class="relative flex justify-center items-center">
      <span
        class="absolute top-5 left-[60%] rotate-6 font-nanum text-2xl font-medium text-primary"
      >
        Año {new Date().getFullYear()}
      </span>
      <h2
        class="text-5xl text-center font-bold font-array uppercase mt-12 mb-10"
      >
        Trabajos Recientes
      </h2>
    </div>
    <SectionCard title="MAD ROYER" img="1" />
    <SectionCard title="MAD EXHIBITIONS" img="royer" />
  </section>
  <Services />
</Layout>
