---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Works from "../components/sections/Works.astro";
import SectionHeader from "../components/ui/SectionHeader.astro";
import Services from "../components/sections/Services.astro";
import Faq from "../components/sections/Faq.astro";
import Contact from "../components/sections/Contact.astro";
import Products from "../sections/products.astro";
---

<Layout>
  <Hero />
  <main class="max-w-[90ch] mx-auto">
    <section class="container mx-auto px-4 mt-20">
      <SectionHeader title="Trabajos Recientes">
        <span
          class="absolute top-5 left-[60%] rotate-6 font-nanum text-2xl font-medium text-primary"
        >
          Año {new Date().getFullYear()}
        </span>
      </SectionHeader>
      <div class="space-y-20">
        <Works
          title="Mad Exhibitions"
          area="Arte y Música"
          time="1 semana"
          views="280"
          desktop="/madexhibition-desktop.png"
          client:load
        />
        <Works
          title="Mad Royer"
          area="Arte"
          time="1 semana"
          views="1k"
          desktop="/madroyer-desktop.png"
          client:load
        />
      </div>
    </section>
    <section class="px-4 mt-20">
      <SectionHeader title="Productos">
        <span
          class="absolute top-5 left-[60%] rotate-6 font-nanum text-2xl font-medium text-primary"
        >
          Crecimiento
        </span>
      </SectionHeader>
      <Products />
    </section>
    <Services />
    <section class="container mx-auto px-4 mt-20">
      <SectionHeader title="Preguntas Frecuentes">
        <span
          class="absolute top-5 left-[60%] rotate-6 font-nanum text-2xl font-medium text-primary"
        >
          como empezamos
        </span>
      </SectionHeader>
      <Faq />
    </section>
    <section class="container mx-auto px-4 mt-20">
      <SectionHeader title="Trabajemos Juntos">
        <span
          class="absolute top-5 left-[60%] rotate-6 font-nanum text-2xl font-medium text-primary"
        >
          contactar ahora
        </span>
      </SectionHeader>
      <Contact />
    </section>
  </main>
</Layout>
