---
import Layout from "../layouts/Layout.astro";
import SectionCard from "../components/ui/cards/SectionCard.astro";
import Hero from "../components/sections/Hero.astro";
---

<Layout>
  <Hero />
  <section
    class="grid grid-cols-1 md:grid-cols-3 grid-rows-1 gap-3 container mx-auto px-4"
  >
    <SectionCard title="MAD ROYER" cols="2" img="1" />
    <SectionCard title="MAD EXHIBITIONS" cols="3" img="2" />
  </section>
</Layout>
