<footer class="container mx-auto py-5 px-2">
  <div
    class="bg-white/40 backdrop-blur-3xl h-20 rounded-xl flex justify-between items-center px-4"
  >
    <a class="text-black font-nanum text-2xl">antonio@mblcdev.com</a>
    <div>
      <ul class="flex justify-center items-center gap-4 font-medium font-nanum">
        <li><a href="#" class="text-2xl text-black">LinkedIn</a></li>
        <li><a href="#" class="text-2xl text-black">Instagram</a></li>
        <li><a href="#" class="text-2xl text-black">Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
