<footer class="container mx-auto py-5 px-2">
  <div
    class="bg-black backdrop-blur-3xl h-20 rounded-xl flex justify-between items-center px-4"
  >
    <a class="text-primary font-nanum text-2xl">antonio@mblcdev.com</a>
    <div>
      <ul class="flex justify-center items-center gap-4 font-medium font-nanum">
        <li><a href="#" class="text-2xl text-primary">LinkedIn</a></li>
        <li><a href="#" class="text-2xl text-primary">Instagram</a></li>
        <li><a href="#" class="text-2xl text-primary">Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
