---
import background from "../assets/background.svg";
---

<div class="">
  <img
    id="background"
    class="fixed top-10 -left-32 w-full h-full -z-10 blur-3xl"
    src={background.src}
    alt=""
    fetchpriority="high"
  />
  <section
    class="bg-black rounded-md m-2 flex justify-center items-center animate-pulse"
  >
    <h1 class="text-center font-nanum text-9xl text-white">
      MBLCDEV X CLAINEV
    </h1>
  </section>
</div>
<style>
  section {
    height: calc(100vh - 1rem);
  }
</style>
