---
import background from "../assets/background.svg";
---

<div class="relative h-screen">
  <img
    id="background"
    class="fixed top-10 -left-32 w-full h-full -z-10 blur-3xl"
    src={background.src}
    alt=""
    fetchpriority="high"
  />
  <div>
    <h1
      id="quote"
      class="text-[10vw] font-bold leading-none text-wrap lg:text-nowrap absolute bottom-0"
    >
      MBLCDEV <br />X <br /> CLAINEV
    </h1>
  </div>
</div>
