---
interface Props {
  title: string;
  cols: string;
  img: string;
}
const { title, cols, img } = Astro.props;
---

<section
  class={`h-auto cursor-pointer group flex flex-col justify-between mx-auto mb-10 w-full rounded-xl shadow-xl overflow-hidden ${cols === "" ? "md:col-span-auto" : "md:col-span-" + cols}`}
>
  <div>
    <div>
      <div class="bg-black w-full flex gap-8">
        <p
          class="text-center text-white uppercase font-array w-full text-nowrap"
          id="description"
        >
          pagina web de una empresa organizadora de eventos
        </p>
        <p
          class="text-center text-white uppercase font-array w-full text-nowrap"
          id="description"
        >
          pagina web de una empresa organizadora de eventos
        </p>
        <p
          class="text-center text-white uppercase font-array w-full text-nowrap"
          id="description"
        >
          pagina web de una empresa organizadora de eventos
        </p>
      </div>
      <img src={`/${img}.png`} alt="image" class="h-[500px] w-full" />
    </div>
    <div class="h-auto flex justify-between items-center bg-black p-5">
      <h2 class="text-6xl font-bold font-nanum text-start text-white">
        {title}
      </h2>
      <span
        class="font-nanum text-7xl group-hover:opacity-100 opacity-0 text-white transition-opacity duration-500 ease-in-out"
        >-></span
      >
    </div>
  </div>
</section>

<style>
  #description {
    animation: marquee 15s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-300%);
    }
  }
</style>
