---
import SectionHeader from "../components/ui/SectionHeader.astro";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const sectionTitle = lang === "es" ? "Libros" : "Books";
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section class="container mx-auto px-4 mt-20">
  <SectionHeader title={sectionTitle} />
  <a
    href={translatePath("/books")}
    title="el-diario-del-otro-yo"
    class="m-0 p-0 flex justify-center flex-col items-center"
  >
    <img
      src="/cover.png"
      alt="cover-el-diario-del-otro-yo"
      transition:name="cover-book"
      class="h-96 aspect-auto block hover:scale-[1.02] active:scale-[0.98] transition-transform duration-150"
    />
    <h2 class="text-lg font-semibold">El Diario Del Otro Yo</h2>
    <span class="text-sm font-medium text-opacity">Sombra</span>
  </a>
</section>
