---
import { Instagram, Linkedin, Mail, Twitter } from "@lucide/astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col justify-center items-center gap-10">
  <p class="text-lg font-inter text-center">
    {t("contact.text")}
  </p>
  <div class="flex justify-center items-center flex-col gap-2">
    <button
      class="relative flex justify-center items-center gap-1 overflow-hidden bg-black text-white font-bold rounded-full shadow-xl px-4 py-3 hover:scale-105 transition-transform duration-300 ease-in-out cursor-pointer"
      id="contact"
    >
      <div
        class="absolute inset-0 blur-md bg-white rounded-full h-4 scale-110 z-0"
      >
      </div>
      <Mail class="" />
      antonio@mblcdev.com
    </button>
    <div class="h-5">
      <p class="text-sm font-inter hidden" id="message">
        {t("contact.button")}
      </p>
    </div>
    <ul
      class="flex mt-3 justify-center items-center gap-4 font-medium font-nanum text-black"
    >
      <li>
        <a
          href="#"
          class="hover:scale-110 transition-transform duration-300 text-2xl uppercase shadow-xl bg-[#0077b5] text-white font-bold px-3 py-3 rounded-full flex justify-center items-center"
        >
          <Linkedin class="block" />
        </a>
      </li>

      <li>
        <a
          href="#"
          class="hover:scale-110 transition-transform duration-300 text-2xl uppercase shadow-xl bg-gradient-to-l to-[#ff7a00] via-[#ff0069] from-[#7638fa] text-white font-bold px-3 py-3 rounded-full flex justify-center items-center"
        >
          <Instagram class="block" />
        </a>
      </li>

      <li>
        <a
          href="#"
          class="hover:scale-110 transition-transform duration-300 text-2xl uppercase shadow-xl bg-black text-white font-bold px-3 py-3 rounded-full flex justify-center items-center"
        >
          <Twitter class="block" />
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
  const btncontact = document.querySelector("#contact");
  const message = document.querySelector("#message");
  btncontact?.addEventListener("click", () => {
    navigator.clipboard.writeText(btncontact.textContent!);
    message?.classList.remove("hidden");
    setTimeout(() => {
      console.log("change");
      message?.classList.add("hidden");
    }, 2000);
  });
</script>
