---
import { ArrowDownLeft } from "@lucide/astro";

const { item } = Astro.props;
---

<div>
  <div class="grid divide-y-2 divide-primary/30 mx-auto">
    {
      item?.map((faq: any) => (
        <details class="group py-5 px-4">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span>{faq.question}</span>
            <ArrowDownLeft class="transition duration-500 group-open:rotate-180" />
          </summary>
          <p class="text-secondary/70 mt-3 group-open:animate-fade-in-up">
            {faq.answer}
          </p>
        </details>
      ))
    }
  </div>
</div>
