---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="w-full md:w-[70%] mx-auto mt-20 px-4">
  <hr />
  <div
    class="flex justify-center items-center mt-5 gap-1 text-secondary/80 font-inter"
  >
    <span class="text-center text-sm"
      >&copy; {new Date().getFullYear()} {t("footer.copyright")}. Antonio (27te)
    </span>
  </div>
</footer>
