<div class="mx-auto max-w-[90ch]">
  <div
    class="overflow-hidden rounded-md shadow-xl aspect-auto relative flex justify-center items-center group"
  >
    <img
      src="/product-1.webp"
      alt="mb-inventory"
      draggable="false"
      class="w-full h-full aspect-auto"
    />

    <a
      href=""
      class="text-4xl font-bold font-inter absolute bg-white/20 backdrop-blur-3xl border border-black/20 px-2 rounded-md group-hover:scale-110 transition duration-300 ease-in-out"
    >
      MB INVENTORY
    </a>
  </div>
</div>
