---
import SectionHeader from "../components/ui/SectionHeader.astro";
import Service from "../components/Service.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const services = await import(`../data/service.${lang}.json`);
const sectionTitle = lang === "es" ? "Servicios" : "Services";
---

<section class="px-4 mt-20 scroll-my-24" id="services">
  <SectionHeader title={sectionTitle} />
  <Service item={services.default} />
</section>
