---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const pageTitle = "My other person";
const allPosts = await getCollection("diary");
const allPostsFiltered = allPosts.filter((post) => {
  const isNotDraft = post.data.draft === true;
  const isSpanishContent = post.id.startsWith("es/");
  const hasValidSlug = post.slug.includes("es/");

  return isNotDraft && isSpanishContent && hasValidSlug;
});
console.log(allPostsFiltered);
---

<Layout title={pageTitle} description={pageTitle}>
  <main class="max-w-[80ch] mt-40 mx-auto px-4">
    <ul>
      {
        allPostsFiltered.map((post) => (
          <li>
            <a href={`diary/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
