---
import Layout from "../../layouts/Layout.astro";
import {
  Clock3,
  TrendingUp,
  Package,
  Layers,
  Users,
  BadgeCheck,
} from "@lucide/astro";

const data = [
  {
    title: "Eficiencia de Tiempo",
    text: "Reduzca el tiempo dedicado a la gestión de inventario hasta en un 75% con seguimiento y alertas automatizadas.",
    icon: Clock3,
  },
  {
    title: "Mayor Precisión",
    text: "Minimice el error humano y mantenga una precisión del 99.9% en el conteo de existencias y cumplimiento de pedidos.",
    icon: TrendingUp,
  },
  {
    title: "Optimización de Stock",
    text: "Prevenga el exceso de inventario y la falta de existencias con pronósticos y análisis inteligentes de inventario.",
    icon: Package,
  },
  {
    title: "Gestión Centralizada",
    text: "Administre múltiples ubicaciones, almacenes y tiendas desde un único panel unificado.",
    icon: Layers,
  },
  {
    title: "Colaboración en Equipo",
    text: "Habilite una comunicación fluida entre departamentos con acceso basado en roles y notificaciones.",
    icon: Users,
  },
  {
    title: "Listo para Auditorías",
    text: "Manténgase preparado para auditorías con registros completos de inventario e informes automatizados de cumplimiento.",
    icon: BadgeCheck,
  },
];
---

<Layout title="Mb Inventory | Sistema de manejo de inventario para empresas">
  <main class="mt-40 w-full md:w-[70%] px-4 mx-auto">
    <section class="flex justify-center flex-col items-center">
      <div class="flex justify-center items-center gap-5 flex-col mb-10">
        <h1
          class="tracking-wide font-display text-5xl md:text-7xl lg:text-9xl text-center text-balance antialiased"
        >
          MB <span class="text-primary">INVENTORY</span>
        </h1>
        <p class="max-w-xl text-center text-base font-medium antialiased">
          Sistema de gestión de inventario para empresas
        </p>
        <div class="flex gap-5">
          <a
            href="#"
            class="bg-quaternary text-tertiary px-8 py-4 rounded-lg shadow-lg font-medium hover:scale-[1.02] active:scale-[0.98] transition-transform duration-150 antialiased"
            >Comenzar Ahora</a
          >
          <a
            href="#"
            class="bg-secondary text-tertiary px-8 py-4 rounded-lg shadow-lg font-medium hover:scale-[1.02] active:scale-[0.98] transition-transform duration-150 antialiased"
            >Ver Demo</a
          >
        </div>
      </div>
      <div>
        <img
          src="/prod.png"
          alt="inventario"
          loading="lazy"
          draggable="false"
          class="mix-blend-multiply border border-secondary/10 rounded-lg shadow-lg"
        />
      </div>
    </section>
    <section class="mt-20 px-4">
      <div>
        <h2 class="font-display text-5xl font-bold uppercase text-center">
          Ventajas Principales
        </h2>
        <p class="text-center text-base font-medium mt-5">
          Nuestro sistema de gestión de inventario proporciona capacidades
          potentes que transforman la forma en que las empresas gestionan sus
          existencias.
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
        {
          data.map(({ title, text, icon: Icon }) => {
            return (
              <div class="flex flex-col gap-2 border border-primary/20 p-2 rounded-lg">
                <Icon class="size-10 text-quaternary" />
                <h3 class="text-xl font-bold">{title}</h3>
                <p class="text-base font-medium text-secondary/80">{text}</p>
              </div>
            );
          })
        }
      </div>
    </section>
    <section class="mt-20 px-4">
      <div>
        <h2 class="font-display text-5xl font-bold uppercase text-center">
          Casos de Uso
        </h2>
        <p class="text-center text-base font-medium mt-5">
          Nuestro sistema de inventario se adapta a diversas industrias con
          características especializadas para cada tipo de negocio.
        </p>
      </div>
      <div class="flex flex-col mt-10 gap-4 justify-center">
        <div class="flex flex-col gap-3 justify-center items-center">
          <div class="flex justify-start items-start gap-4">
            <button
              id="retail-btn"
              class="text-lg font-semibold text-nowrap bg-secondary/5 px-4 py-2 rounded-lg"
              >Minorista</button
            >
            <button
              id="wholesale-btn"
              class="text-lg font-semibold text-nowrap hover:bg-secondary/5 px-4 py-2 rounded-lg"
              >Mayorista</button
            >
            <button
              id="e-commerce-btn"
              class="text-lg font-semibold text-nowrap hover:bg-secondary/5 px-4 py-2 rounded-lg"
              >Comercio Electrónico</button
            >
            <button
              id="apparel-btn"
              class="text-lg font-semibold text-nowrap hover:bg-secondary/5 px-4 py-2 rounded-lg"
              >Ropa y Moda</button
            >
          </div>
          <div class="flex px-4 justify-center max-w-xl">
            <div
              id="retail"
              class="text-sm text-secondary/80 font-medium w-full animate-slide-in-bottom delay-300"
            >
              Rastree el inventario en todas las tiendas, gestione el stock en
              tiempo real y optimice las operaciones de punto de venta. Incluye
              escaneo de códigos de barras y reabastecimiento automático para
              optimizar su negocio minorista.
            </div>

            <div
              id="wholesale"
              class="text-sm text-secondary/80 font-medium hidden animate-slide-in-bottom delay-300"
            >
              Nuestro sistema agiliza las operaciones mayoristas con gestión
              eficiente de pedidos a granel, compras automatizadas y seguimiento
              multi-almacén. Incluye coordinación con proveedores, monitoreo de
              lotes y características de precios por niveles.
            </div>

            <div
              id="e-commerce"
              class="text-sm text-secondary/80 font-medium hidden animate-slide-in-bottom delay-300"
            >
              Diseñado para negocios de comercio electrónico, nuestro sistema se
              integra perfectamente con su tienda en línea. Gestione pedidos,
              inventario y envíos en múltiples canales en tiempo real. Incluye
              flujos de trabajo automatizados e integraciones para optimizar sus
              operaciones en línea.
            </div>
            <div
              id="apparel"
              class="text-sm text-secondary/80 font-medium hidden animate-slide-in-bottom delay-300"
            >
              Nuestro sistema de inventario ayuda a los minoristas de moda a
              gestionar variaciones de productos, rastrear materiales y
              optimizar la producción. Incluye gestión de tallas/colores,
              reposición automatizada e integración PLM para operaciones
              eficientes de moda.
            </div>
          </div>
        </div>
        <div class="relative h-96 flex justify-center">
          <img
            src="/products/retail.webp"
            alt="retail"
            loading="lazy"
            decoding="async"
            draggable="false"
            id="retail-image"
            class="rounded-lg shadow-lg mix-blend-multiply absolute h-96 animate-slide-in-bottom delay-300"
          />
          <img
            src="/products/wholesale.webp"
            alt="wholesale"
            loading="lazy"
            decoding="async"
            draggable="false"
            id="wholesale-image"
            class="rounded-lg shadow-lg mix-blend-multiply absolute h-96 hidden animate-slide-in-bottom delay-300"
          />
          <img
            src="/products/e-commerce.webp"
            alt="e-commerce"
            loading="lazy"
            decoding="async"
            draggable="false"
            id="e-commerce-image"
            class="rounded-lg shadow-lg mix-blend-multiply absolute h-96 hidden animate-slide-in-bottom delay-300"
          />
          <img
            src="/products/apparel.webp"
            alt="apparel"
            loading="lazy"
            decoding="async"
            draggable="false"
            id="apparel-image"
            class="rounded-lg shadow-lg mix-blend-multiply absolute h-96 hidden animate-slide-in-bottom delay-300"
          />
        </div>
      </div>
    </section>
  </main>
</Layout>
<script>
  const btnReatil = document.getElementById("retail-btn") as HTMLButtonElement;
  const btnWholesale = document.getElementById(
    "wholesale-btn"
  ) as HTMLButtonElement;
  const btnEcommerce = document.getElementById(
    "e-commerce-btn"
  ) as HTMLButtonElement;
  const btnApparel = document.getElementById(
    "apparel-btn"
  ) as HTMLButtonElement;

  const retail = document.getElementById("retail") as HTMLElement;
  const wholesale = document.getElementById("wholesale") as HTMLElement;
  const ecomerce = document.getElementById("e-commerce") as HTMLElement;
  const apparel = document.getElementById("apparel") as HTMLElement;

  const retailImage = document.getElementById(
    "retail-image"
  ) as HTMLImageElement;
  const wholesaleImage = document.getElementById(
    "wholesale-image"
  ) as HTMLImageElement;
  const ecomerceImage = document.getElementById(
    "e-commerce-image"
  ) as HTMLImageElement;
  const apparelImage = document.getElementById(
    "apparel-image"
  ) as HTMLImageElement;

  btnReatil.addEventListener("click", () => {
    retail.classList.remove("hidden");
    wholesale.classList.add("hidden");
    ecomerce.classList.add("hidden");
    apparel.classList.add("hidden");
    retailImage.classList.remove("hidden");
    wholesaleImage.classList.add("hidden");
    ecomerceImage.classList.add("hidden");
    apparelImage.classList.add("hidden");
    btnReatil.classList.add("bg-secondary/5");
    btnWholesale.classList.remove("bg-secondary/5");
    btnEcommerce.classList.remove("bg-secondary/5");
    btnApparel.classList.remove("bg-secondary/5");
  });
  btnWholesale.addEventListener("click", () => {
    retail.classList.add("hidden");
    wholesale.classList.remove("hidden");
    ecomerce.classList.add("hidden");
    apparel.classList.add("hidden");
    retailImage.classList.add("hidden");
    wholesaleImage.classList.remove("hidden");
    ecomerceImage.classList.add("hidden");
    apparelImage.classList.add("hidden");
    btnReatil.classList.remove("bg-secondary/5");
    btnWholesale.classList.add("bg-secondary/5");
    btnEcommerce.classList.remove("bg-secondary/5");
    btnApparel.classList.remove("bg-secondary/5");
  });
  btnEcommerce.addEventListener("click", () => {
    retail.classList.add("hidden");
    wholesale.classList.add("hidden");
    ecomerce.classList.remove("hidden");
    apparel.classList.add("hidden");
    retailImage.classList.add("hidden");
    wholesaleImage.classList.add("hidden");
    ecomerceImage.classList.remove("hidden");
    apparelImage.classList.add("hidden");
    btnReatil.classList.remove("bg-secondary/5");
    btnWholesale.classList.remove("bg-secondary/5");
    btnEcommerce.classList.add("bg-secondary/5");
    btnApparel.classList.remove("bg-secondary/5");
  });
  btnApparel.addEventListener("click", () => {
    retail.classList.add("hidden");
    wholesale.classList.add("hidden");
    ecomerce.classList.add("hidden");
    apparel.classList.remove("hidden");
    retailImage.classList.add("hidden");
    wholesaleImage.classList.add("hidden");
    ecomerceImage.classList.add("hidden");
    apparelImage.classList.remove("hidden");
    btnReatil.classList.remove("bg-secondary/5");
    btnWholesale.classList.remove("bg-secondary/5");
    btnEcommerce.classList.remove("bg-secondary/5");
    btnApparel.classList.add("bg-secondary/5");
  });
</script>
