---
import Layout from "../../layouts/Layout.astro";
import {
  Clock3,
  TrendingUp,
  Package,
  Layers,
  Users,
  BadgeCheck,
} from "@lucide/astro";

const data = [
  {
    title: "Eficiencia de Tiempo",
    text: "Reduzca el tiempo dedicado a la gestión de inventario hasta en un 75% con seguimiento y alertas automatizadas.",
    icon: Clock3,
  },
  {
    title: "Mayor Precisión",
    text: "Minimice el error humano y mantenga una precisión del 99.9% en el conteo de existencias y cumplimiento de pedidos.",
    icon: TrendingUp,
  },
  {
    title: "Optimización de Stock",
    text: "Prevenga el exceso de inventario y la falta de existencias con pronósticos y análisis inteligentes de inventario.",
    icon: Package,
  },
  {
    title: "Gestión Centralizada",
    text: "Administre múltiples ubicaciones, almacenes y tiendas desde un único panel unificado.",
    icon: Layers,
  },
  {
    title: "Colaboración en Equipo",
    text: "Habilite una comunicación fluida entre departamentos con acceso basado en roles y notificaciones.",
    icon: Users,
  },
  {
    title: "Listo para Auditorías",
    text: "Manténgase preparado para auditorías con registros completos de inventario e informes automatizados de cumplimiento.",
    icon: BadgeCheck,
  },
];
---

<Layout title="Mb Inventory | Sistema de manejo de inventario para empresas">
  <main class="mt-40 w-full md:w-[70%] px-4 mx-auto">
    <section class="flex justify-center flex-col items-center">
      <div class="flex justify-center items-center gap-5 flex-col mb-10">
        <h1
          class="tracking-wide font-display text-5xl md:text-7xl lg:text-9xl text-center text-balance antialiased"
        >
          MB <span class="text-primary">INVENTORY</span>
        </h1>
        <p class="max-w-xl text-center text-base font-medium antialiased">
          Sistema integral de gestión de inventario diseñado para optimizar,
          automatizar y transformar el control de existencias en empresas de
          cualquier tamaño.
        </p>
        <div class="flex gap-5">
          <span class="text-xl text-quaternary font-bold">Próximamente....</span
          >
          <!-- <a
            href="#"
            class="bg-quaternary text-tertiary px-8 py-4 rounded-lg shadow-lg font-medium hover:scale-[1.02] active:scale-[0.98] transition-transform duration-150 antialiased"
            >Comenzar Ahora</a
          >
          <a
            href="#"
            class="bg-secondary text-tertiary px-8 py-4 rounded-lg shadow-lg font-medium hover:scale-[1.02] active:scale-[0.98] transition-transform duration-150 antialiased"
            >Ver Demo</a
          > -->
        </div>
      </div>
      <div>
        <img
          src="/prod.webp"
          alt="inventario"
          loading="lazy"
          draggable="false"
          class="mix-blend-multiply border border-secondary/10 rounded-lg shadow-lg"
        />
      </div>
    </section>
    <section class="mt-20 px-4">
      <div>
        <h2 class="font-display text-5xl font-bold uppercase text-center">
          Ventajas Principales
        </h2>
        <p class="text-center text-base font-medium mt-5">
          Nuestro sistema de gestión de inventario proporciona capacidades
          potentes que transforman la forma en que las empresas gestionan sus
          existencias.
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
        {
          data.map(({ title, text, icon: Icon }) => {
            return (
              <div class="flex flex-col gap-2 border border-primary/20 p-2 rounded-lg">
                <Icon class="size-10 text-quaternary" />
                <h3 class="text-xl font-bold">{title}</h3>
                <p class="text-base font-medium text-secondary/80">{text}</p>
              </div>
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
