---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";

const pageTitle = "Welcome to my Books Page";
const posts = await getCollection("books");

const enPosts = posts.filter(
  (post) => post.id.startsWith("en/") && post.data.draft !== true
);
---

<Layout title={pageTitle} description={pageTitle}>
  <main class="max-w-[80ch] mt-40 mx-auto px-4">
    <ul>
      {
        enPosts.map((post) => {
          const slugClean = post.slug.replace(/^en\//, "");
          return (
            <li>
              <a href={`/en/books/${slugClean}`}>{post.data.title}</a>
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>
