---
import Layout from "./Layout.astro";
import "../styles/blog.css";

interface Props {
  title: string;
  date?: string;
  author?: string;
  description?: string;
  image?: string;
}

const { title, date, author, description, image } = Astro.props;
---

<Layout title={title} description={description || ""}>
  <main class="blog mt-40 max-w-[80ch] mx-auto px-4">
    <slot />
  </main>
</Layout>
