---
import "../styles/global.css";
import Navbar from "../components/ui/Navbar.astro";
import { getLangFromUrl } from "../i18n/utils";
import Footer from "../components/Footer.astro";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clainev</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<script>
  import Lenis from "lenis";
  const lenis = new Lenis({
    autoRaf: true,
  });

  lenis.on("scroll", (e) => {});
</script>
<style>
  html {
    scroll-behavior: smooth;
  }
  body {
    background-image: url("/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
