---
import "../styles/global.css";
import LanguagePicker from "../components/LanguagePicker.astro";
import Navbar from "../components/ui/Navbar.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clainev</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <!-- <footer>
      <LanguagePicker />
    </footer> -->
  </body>
</html>

<script>
  import Lenis from "lenis";
  const lenis = new Lenis();

  lenis.on("scroll", (e) => {});
</script>
