---
import { getCollection, render } from "astro:content";
import Blog from "../../../layouts/Blog.astro";
export const getStaticPaths = async () => {
  const blog = await getCollection("blog");
  const blogFiltered = blog.filter((post) => post.id.startsWith("en/"));

  return blogFiltered.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};
const { post } = Astro.props;
const { Content } = await render(post);
---

<Blog title={post.data.title} description={post.data.description}>
  <h1>{post.data.title}</h1>
  <Content />
</Blog>
