---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";

const pageTitle = "My Astro Learning Blog";
const allPosts = await getCollection("blog");
const allPostsFiltered = allPosts.filter((post) => {
  const isNotDraft = post.data.draft === true;
  const isSpanishContent = post.id.startsWith("en/");
  const hasValidSlug = post.slug.includes("en/");

  return isNotDraft && isSpanishContent && hasValidSlug;
});
console.log(allPostsFiltered);
---

<Layout title={pageTitle} description={pageTitle}>
  <main class="max-w-[80ch] mt-40 mx-auto">
    <ul>
      {
        allPostsFiltered.map((post) => (
          <li>
            <a href={`${post.slug}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
