---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header class="flex justify-center">
  <div
    class="fixed top-4 z-50 bg-secondary/90 backdrop-blur-3xl mx-auto md:w-80 w-[95%] rounded-full shadow-2xl"
  >
    <div class="px-4 py-3">
      <div class="flex items-center justify-between">
        <div class="flex justify-center items-center">
          <img src="/clainev-logo.png" alt="logo" class="w-full h-5" />
        </div>
        <button
          id="nav-toggle"
          class="relative w-8 h-8 rounded-full bg-secondary flex items-center justify-center group transition-all duration-300"
        >
          <div
            class="w-2.5 h-2.5 bg-green-400 rounded-full transition-all duration-300 group-hover:scale-110"
          >
          </div>
        </button>
      </div>
    </div>

    <nav
      id="nav-menu"
      class="absolute top-full mt-2 left-0 w-full overflow-hidden transition-all duration-500 max-h-0"
    >
      <div
        class="bg-secondary/90 backdrop-blur-3xl rounded-lg p-6 mx-2 border border-white/10"
      >
        <ul class="flex flex-col gap-2 text-center">
          <li>
            <a
              href={translatePath("/")}
              class="text-tertiary transition-colors duration-200 hover:bg-tertiary hover:text-secondary w-full block rounded-lg p-3"
            >
              {t("nav.home")}
            </a>
          </li>

          <li>
            <a
              href={translatePath("/blog/")}
              class="text-tertiary transition-colors duration-200 hover:bg-tertiary hover:text-secondary w-full block rounded-lg p-3"
            >
              {t("nav.blog")}
            </a>
          </li>
          <li>
            <a
              href={translatePath("/books/")}
              class="text-tertiary transition-colors duration-200 hover:bg-tertiary hover:text-secondary w-full block rounded-lg p-3"
            >
              {t("nav.books")}
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<script>
  function toggleNav() {
    const navToggle = document.getElementById("nav-toggle");
    const navMenu = document.getElementById("nav-menu");
    let isOpen = false;

    navToggle?.addEventListener("click", () => {
      isOpen = !isOpen;
      if (isOpen) {
        navMenu?.style.setProperty("max-height", `${navMenu.scrollHeight}px`);
      } else {
        navMenu?.style.setProperty("max-height", "0px");
      }
    });
  }

  toggleNav();
</script>
