---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div class="relative flex justify-center items-center">
  <slot />
  <h2 class="text-5xl text-center font-bold font-array uppercase mt-12 mb-10">
    {title}
  </h2>
</div>
